<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <div class="cont">
        <h1>Contact</h1>
        <div class="form">
            <form action="">
                <div class="input">
                    <input id="user-name" type="text" placeholder="Your name">
                </div>
                <div class="input">
                    <input id="email" type="email" placeholder="abc@gmail.com">
                </div>
                <div class="input">
                    <input id="pass" type="password" placeholder="Password">
                </div>
                <div class="input">
                    <input id="button" type="button" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <script>
        const userName = document.getElementById('user-name');
        const email = document.getElementById('email');
        const pass = document.getElementById('pass');
        const btn = document.getElementById('btn');

        btn.addEventListener('click', function(){
            console.log(userName.value);
            console.log(email.value);
            console.log(pass.value);
        })
    </script>
</body>
</html>